PORT=
FRONTEND_ORIGIN=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

EMAIL_API_BASE_URL=
EMAIL_API_USER=
EMAIL_API_PASSWORD=
EMAIL_API_ID_USER=
EMAIL_TO=
EMAIL_FROM=
EMAIL_COPY_TO=
EMAIL_HIDDEN_COPY_TO=
