PORT=3000
FRONTEND_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=parqueadero_db

EMAIL_API_BASE_URL=https://dev-sites.similtech.co/api-email
EMAIL_API_USER=
EMAIL_API_PASSWORD=
EMAIL_API_ID_USER=parqueadero
EMAIL_TO=cliente@example.com
EMAIL_FROM=
EMAIL_COPY_TO=
EMAIL_HIDDEN_COPY_TO=
